<%= form_for @set_template, :html => { :class => "form-horizontal set_template" } do |f| %>

    <% if @set_template.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@set_template.errors.count, "error") %> prohibited this set_template from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @set_template.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :exercise_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :exercise_id, :class => 'form-control' %>
    </div>
    <%= error_span(@set_template[:exercise_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :reps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reps, :class => 'form-control' %>
    </div>
    <%= error_span(@set_template[:reps]) %>
  </div>
  <div class="control-group">
    <%= f.label :weight, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :weight, :class => 'form-control' %>
    </div>
    <%= error_span(@set_template[:weight]) %>
  </div>
  <div class="control-group">
    <%= f.label :type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select(:type, options_for_select([['FiveThreeOneSetTemplate'], ['BasicSetTemplate']]), {},  {:class => 'form-control'})%>
    </div>
    <%= error_span(@set_template[:type]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            set_templates_path, :class => 'btn btn-default' %>

<% end %>
